@import "reset.css";
@import "greetings.css";
@import "todo.css";
@import "weather-icons.css";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

@font-face {
  font-family: "SDGothic";
  src: url("font/AppleSDGothicNeoM.ttf") format("truetype");
  font-weight: normal;
}

body {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Montserrat", "SDGothic", "Malgun Gothic", sans-serif;
  padding: 0px 100px;
}

img {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  height: 100%;
  filter: brightness(70%);
}

@media screen and (min-width: 555px) {
  img {
    width: 100%;
  }
}

.body_column {
  width: 460px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  position: relative;
}

input {
  border: none;
  font-size: 26px;
  background-color: transparent;
  box-sizing: border-box;
  padding: 6px 10px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
  transition: border-color 0.5s ease-in-out;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-family: inherit;
}

input:focus {
  color: rgba(255, 255, 255, 0.7);
  border-color: rgba(255, 255, 255, 1);
}

/*
@font-face {
  font-family: 'SDGothic';
  src: url('font/AppleSDGothicNeoB.ttf') format('truetype');
  font-weight: bold;
}
*/
